@import "tailwindcss";


body {
  background: #fff;
  color: #000;
}

input {
  background: #fff;
  color: #000;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000;
}



img {
  margin-left: 20px;
}